<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>comA.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeservlet</display-name>
    <servlet-name>homeservlet</servlet-name>
    <servlet-class>comA.homeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeservlet</servlet-name>
    <url-pattern>/homeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createaccountservlet</display-name>
    <servlet-name>createaccountservlet</servlet-name>
    <servlet-class>comA.createaccountservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createaccountservlet</servlet-name>
    <url-pattern>/createaccountservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>comA.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositServlet</display-name>
    <servlet-name>depositServlet</servlet-name>
    <servlet-class>comA.depositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositServlet</servlet-name>
    <url-pattern>/depositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawServlet</display-name>
    <servlet-name>withdrawServlet</servlet-name>
    <servlet-class>comA.withdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawServlet</servlet-name>
    <url-pattern>/withdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>ComA.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawservlet</display-name>
    <servlet-name>withdrawservlet</servlet-name>
    <servlet-class>comA.withdrawservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawservlet</servlet-name>
    <url-pattern>/withdrawservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkbalanceservlet</display-name>
    <servlet-name>checkbalanceservlet</servlet-name>
    <servlet-class>comA.checkbalanceservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkbalanceservlet</servlet-name>
    <url-pattern>/checkbalanceservlet</url-pattern>
  </servlet-mapping>
</web-app>